/* Media Queries */

/* Standard desktop  */
@media (max-width: 1920px) {
  :root {
    --content-padding: 4rem;
  }
}

/* Old desktop or large scaled UI */
@media (max-width: 1280px) {
  :root {
    font-size: 8px;
  }
}

/* Tablet landscape */
@media (max-width: 1024px) {
  :root {
    font-size: 10px;
    --content-width: 100%;
    --content-padding: 2rem;
  }
}

/* Tablet portrait */
@media (max-width: 800px) {
  :root {
    font-size: 9px;
  }
  main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    display: flex;
    align-items: center;
    width: 50rem;
    flex-direction: column;
    height: 43rem;
  }
  .user-input {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 35rem;
    justify-content: space-between;
    margin: 3rem;
  }

  .tip {
  }
  .user-output {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-cyan);
    color: var(--white);
    width: 100%;
    height: 45rem;
    justify-content: space-between;
    margin: 3rem;
    padding: 3rem;
    border-radius: 1rem;
    &__tip,
    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/* Smartphones */
@media (max-width: 550px) {
  :root {
    font-size: 7px;
    --content-padding: 1rem;
  }
}
